<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="header">
        <h1>Переводчик с русского на английский</h1>
    </div>

    <div class="form">
        <form method="post" action="/answer">
            <input class="enter_text" type="text" name="enter_text">
            <br>
            <input class="sending" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>